
@{
    ViewBag.Title = "Process complet";
}

<div class="row w-100 mt-5 p-5 bg-light rounded-3 border border-2 " align="center">
    <h3>Achat complet</h3>
    <div class="col-12">
        <div class="col-10 bg-body p-5 mt-5 border border-1">
            <p>Votre achat a été bien fait ... &#128512;</p>
        </div>
    </div>
</div>
