
@{
    ViewBag.Title = "à propos";
}

<div class="row w-100 mt-5 p-5 bg-light rounded-3 border border-2 " align="center">
    <h1>MonPC electroShop</h1>
    <h6>Créé par : Sohaib Skious</h6>
    <div class="col-12">
        <div class="col-10 bg-body p-5 mt-5 border border-1">
            <p>Ce site a été créé par Sohaib Skious ... Je suis en moment de création de ce site en première année en Master Spécialisé : <br /><b>Ingénierie Informatique et Internet</b></p>
            <p>Ce site est créé en utilisant ASP.net pour le but de présenter une simulation d'un site e-commerce réel pour la vente des produits électroniques( PCs, Processeurs, ...)</p>
        </div>
    </div>
</div>

