
@{
    ViewBag.Title = "Nous contacter";
}
<h2 align="center" class="m-3">N'hésitez pas à nous contacter </h2>
    <table class="row w-100 mt-5 p-5 bg-light rounded-3 border border-2 fw-" align="center">
        
        <tr class="col-12">
            <td class="col-5 w-100 p-3 fw-bolder" > Par e-mail  :</td>
            <td class="col-5 w-100 p-3 fw-bold" align="center"> sohaibskious@gmail.com</td>
        </tr>
        <tr class="col-10">
            <td class="col-5 w-100 p-3 fw-bolder"  >Trouver nous sur LinkedIn :</td>
            <td class="col-5 w-100 p-3 fw-bold"  align="center"> <a href="https://www.linkedin.com/in/sohaib-skious-3758a21a6/">Sohaib Skious</a>
        </tr>
        <tr class="col-10">
            <td class="col-5 w-100 p-3 fw-bolder"  >Trouver nous sur Facebook :</td>
            <td class="col-5 w-100 p-3 fw-bold"  align="center"> <a href="https://web.facebook.com/sb.skio.01">Sohaib Skious</a></td>
        </tr>
        <tr class="col-10">
            <td class="col-5 w-100 p-3 fw-bolder"  >Par télephone :</td>
            <td class="col-5 w-100 p-3 fw-bold"  align="center"> 06 89 437 618</td>
        </tr>
    </table>
